pkgbase = pacfree
	pkgdesc = A pacman wrapper to make pacman free-software aware
	pkgver = 0.5.6
	pkgrel = 1
	url = https://github.com/leo-arch/pacfree
	arch = any
	license = GPL2
	makedepends = git
	depends = bash
	depends = pacman
	depends = coreutils
	depends = curl
	depends = grep
	depends = sed
	depends = util-linux
	depends = gawk
	optdepends = isfree: Check your Arch system for nonfree software
	source = git+https://github.com/leo-arch/pacfree.git
	sha256sums = SKIP

pkgname = pacfree

